{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block header %}
    <h1>{% block title %}vrp{% endblock %}</h1>
{% endblock %}

{% block app_content %}
    
    <div class="container">
        <div class="row">
            <svg id="origins-map" width="700" height="400"></svg>
        </div>
    </div>

    <script src="https://d3js.org/d3.v5.min.js", charset="utf-8"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js", charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/vrp.js') }}"></script>
    <script type="text/javascript" charset="utf-8">
        data = {{ data | tojson }}
        plotOrigins(data);
    </script>
{% endblock %}
